
.wrapper {
    height: 721px;
    width: 100%; 
}

/* Header styles */
header {
    height: 120px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

/* Logo styles */
.logo {
    padding-left: 20px;
}
.logo img {
    width: 120px;
    height: 115px;
    
}

/* Section image styles */
.sec_img {
    height: 521px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    background-image: url("images/2.jpeg");
}

/* Centered box styles */
.box {
    height: 350px;
    width: 600px;
    background-color: white;
    margin: 30px auto;
    opacity: 0.7;
    text-align: center;
}
.box h1 {
    color: black;
    font-size: 80px;
}
.box p {
    color: black;
    font-size: 30px;
}

/* Background image for the login section */
.img2 {
    background-image: url("images/5.webp");
    height: 521px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

/* Login box styles */
.box1 {
    width: 400px;
    margin: 30px auto;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    background: rgba(14, 7, 6, 0.7); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    transition: all 0.3s ease;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading styles */
h2 {
    font-size: 2.2rem;
    margin-bottom: 25px;
    color: #ffffff;
    letter-spacing: 1px;
}

/* Button styles */
button {
    background-color: #271930;
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #3b2a47; /* Add hover effect */
    border: 2px solid #ffffff;
}

/* Input field styles */
input {
    height: 35px; 
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

.login a {
    display: block;
    margin-top: 15px;
    color: #004080;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.login a:hover {
    text-decoration: underline;
    color: #002060;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    .box {
        width: 90%;
    }

    .box1 {
        width: 90%;
        padding: 30px;
    }

    input {
        width: 90%;
    }
}

